.faqDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B6DAD8;
}

.faqDiv h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}

.faqDiv p {
    font-size: 25px;
    font-weight: 700;
    color: white;
}