.faqDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B6DAD8;
}

.faqDiv h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
    margin-top: 6vh;
}

.tipsP {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 6vh;
}

.questionDiv {
    width: 90vw;
    height: 60vh;
    overflow: scroll;
}