.faqDiv {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0vh;
}

.questionP {
  background-color: #9acac8;
  color: white;
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.reponseNeutralDiv {
  margin-bottom: 2vh;
  height: 0px;
  overflow: hidden;
}

.reponseDisplayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2vh;
  overflow: hidden scroll;
  animation-duration: 0.2s;
  animation-name: openCurtain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.reponseHideDiv {
  display: flex;
  margin-bottom: 2vh;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 0px;
  overflow: hidden scroll;
  animation-duration: 0.2s;
  animation-name: closeCurtain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.reponseP {
  width: 90%;
  margin: 3vh;
  font-size: 20px;
  font-weight: 700;
}

@keyframes openCurtain {
  from {
    height: 0px;
  }
  to {
    height: 20vh;
  }
}

@keyframes closeCurtain {
  from {
    height: 20vh;
  }
  to {
    height: 0px;
  }
}

@media screen and (max-width: 450px) {
  .questionP {
    font-size: 20px;
  }

  .reponseP {
    font-size: 18px;
  }

  @keyframes openCurtain {
    from {
      height: 0px;
    }
    to {
      height: 50vh;
    }
  }

  @keyframes closeCurtain {
    from {
      height: 50vh;
    }
    to {
      height: 0px;
    }
  }
}
