.headerDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
  background-color: transparent;
  color: white;
}

.besaceH1 {
  margin-left: 4vw;
}

.rightHeaderDiv {
  margin-right: 4vw;
}

.burgerButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.burgerIcon {
  color: white;
}

.closeButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menuDivNeutral {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 0px;
  /* background-color: rgb(122, 255, 105); */
  background-color: #fffbef;
  top: 0;
  overflow: hidden;
}

.menuDivDisplay {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100px;
  /* background-color: aqua; */
  background-color: #fffbef;
  top: 0;
  animation-duration: 0.6s;
  animation-name: openCurtain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.menuDivNone {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 0px;
  /* background-color: rgb(255, 196, 0); */
  background-color: #fffbef;
  top: 0;
  animation-duration: 0.8s;
  animation-name: closeCurtain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.containerDiv {
  position: relative;
  margin-top: 7vh;
  width: 100vw;
  height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	cursor: pointer;
}

.containerDiv a {
  color: black;
  text-decoration: none;
	font-size: 1.3625rem;
	font-weight: 800;
	margin-bottom: 3vh;
}

.containerDiv a:hover {
  text-decoration: underline;
}

.containerDiv span {
	width: 100px;
	height: 1px;
	background-color: black;
	margin: 1vh;
}

.containerDiv img {
  width: 45px;
  height: 45px;
	margin-top: 3vh;
	margin-left: 2vh;
	margin-right: 2vh;
}

@keyframes openCurtain {
  from {
    height: 0px;
  }
  to {
    height: 100vh;
  }
}

@keyframes closeCurtain {
  from {
    height: 100vh;
  }
  to {
    height: 0px;
  }
}
