.contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 251, 239);
}

.contactezNousDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactTextDiv {
  display: contents;
}

.contactDiv h1 {
  width: 95vw;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-size: 25px;
}

.dontHesitateP {
  margin-top: 10vh;
  font-size: 26px;
}

.numAndMailP {
  font-size: 20px;
}

.succeedP {
  font-size: 20px;
  margin: 5vh;
}

.formDiv form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2vh;
}

.formDiv form input {
  margin-bottom: 2vh;
  font-size: 16px;
  width: 50vw;
  height: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.formDiv form textarea {
  font-size: 16px;
  width: 50vw;
  height: 20vh;
  border: 1px solid #e8e8e8;
  resize: none;
  border-radius: 3px;
}

.formDiv form p {
  font-size: 14px;
  margin: 0.2vh;
}

.formDiv form button {
  margin-bottom: 5vh;
  font-size: 18px;
  border-radius: 0;
  background-color: black;
  color: white;
  border: none;
  width: 90px;
}

.prenomInput {
  margin-top: 3vh;
}

@media screen and (max-width: 1400px) {
  .formDiv form input {
    width: 70vw;
  }

  .formDiv form textarea {
    width: 70vw;
  }
}

@media screen and (max-width: 885px) {
  .formDiv form input {
    width: 80vw;
  }

  .formDiv form textarea {
    width: 80vw;
  }
}

@media screen and (max-width: 445px) {
  .formDiv form input {
    width: 90vw;
  }

  .formDiv form textarea {
    width: 90vw;
  }
}
