.creatriceDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 239);
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.imgDiv img {
    border-radius: 4px;
    margin: 5vw;
}

.textDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5vw; 
    /* background-color: aquamarine; */
}

@media screen and (max-width: 885px) {
    .creatriceDiv {
        flex-direction: column;
    }

    .textDiv {
        max-width: 450px;
        margin: 5vw;
    }

    .imgDiv img {
        object-fit: cover;
        margin: 0;
        margin-top: 7vh;
        width: 100vw;
        max-width: 450px;
    }
}
