.footerDiv {
  display: flex;
  justify-content: space-around;
  background-color: #121212;
  padding-top: 5vh;
  padding-bottom: 4vh;
}

.footerDiv p {
  font-size: 18px;
  color: white;
}

.footerDiv a {
  color: white;
  text-decoration: none;
  margin-right: 1vw;
  font-size: 18px;
}

.footerDiv a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactA {
  margin-top: 10px;
}

.linkDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkDiv a {
  margin-left: 1vw;
  margin-right: 0;
}

.instagramDiv {
  display: flex;
  align-items: center;
}
